{{title}}
<form id = "form_totale">
  <div>
    <label for="email">Email</label>
    <div>
      <input id = "email" name="email" autocomplete="email" type="text" #email>
    </div>
    <label for="oggetto">Oggetto della mail</label>
    <div>
      <input id="oggetto" type="text" #oggetto>
    </div>
    <label for="testo" >Testo</label>
    <div>
      <input id="testo"type="text" #testo>
    </div>
    <div>
      <button (click) = "aggiungiMail(email, oggetto, testo)">Salva Mail</button>
    </div>
  </div>
</form>

<div>
  @for(mail of emails; track mail){
    <app-sent-mail [singola_mail]="mail"></app-sent-mail>
  }
</div>